vendor
.php*
composer.lock
reports
venv
dependency-test-reports
dependency-check-reports
__pycache__
*.py[cod]
*.pyo
*.pyd
*.egg-info
*.egg
*.whl
*.db
*.sqlite
*.log
*.coverage
*.cover
*.hypothesis
*.hypothesis.*
*.hypothesis.*